@import '../../globals.css';



.history-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 160px;
    height: 90vh;
    width: 100%;

}


.history-page h1, .history-page h2{
    font-size: 2rem;
    color: var(--background-primary);
    font-weight: 700;
    text-align: center;

}