@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');





:root{
    --background-primary: #6F1D1B;
    --background-secondary: #F5F3E7 ;
    --text-primary:#2F4F4F;
    --color-primary:#C2B280;
    --color-secondary:#556B2F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel',serif,sans-serif;
}

p, span, a, li, div {
    font-family: 'Merriweather', serif,sans-serif;
}

body{
     background-color: var(--background-secondary);
}

