@import '../../globals.css';

footer{
    background-color: var(--background-primary);
    height: 120px;
    border-top: 3px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.footer-socials , .utility-links {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
} 
.follow , .utility {
    font-size: 1.5rem;
    font-weight: bold;

}
.links{
    font-size: 1rem;
}
.solcials-links{
  display: flex;
}
.social{
    font-size: 1.8rem;
}
.social:hover{
    color: var(--color-secondary) ;
}

.copyright{
  padding-bottom: 0.5rem;
}
@media (max-width: 900px) {
  
  footer{
    gap: 40px;
    padding: 0;
  }

  .utility-links{
    width: 50%;
  }
  .footer-socials{
    width: 50%;
    
  }
  .social{
    font-size: 1.5rem;
  }
    .follow , .utility {
        font-size: 1.3rem;
    }
 .copyright{
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
 }
  
}


@media (max-width: 480px) {
   
  footer{
    gap: 40px;
    padding: 0;
    height: auto;
    margin-top: 2rem;
  }

  .utility-links{
    width: 50%;
  }
  .footer-socials{
    width: 50%;
    
  }
  .social{
    font-size: 1.5rem;
  }

 .copyright{
    font-size: 1.2rem;
    width: 90%;
     text-align: center;
 }
}