
@import '../../globals.css';

.hero_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 3rem;
  
}
.intro_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.intro_content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.intro_content h1{
    font-size: 4rem;
    color: var(--background-primary);
    font-weight: 700;
}
.intro_content p {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 700;
      color: var(--text-primary);
}

.intro_img{
    width: 40%;
}
.intro_img img{
    width: 70%;
    border-radius: 15px;

}


@media screen and (max-width:480px) {
    .hero_section{
        padding: 0;
    }
    .intro_content h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .intro_section{
        width: 100%;
        display:flex;
        flex-direction: column;
        gap: 30px;
    }
    .intro_content{
        width: 100%;
        padding: 1rem;
        display: flex;

    }
    .intro_content p{
        font-size: 0.9rem;
        
    }
    .intro_img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .intro_img img{
        width: 80%;
    }
}