
@import '../../globals.css';

.Wewino{
    background-color: var(--table-row-even);
    border: 1px solid var( --accent-gold);
    width: 400px;
    height: 450px;
    border-radius: 15px

}

.wewino-title{
    font-size: 1.4rem;
 background-image: linear-gradient(120deg, var(--color-primary),  var(--success));
    border-radius: 15px 15px 0 0;
    color: var( --table-hover);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 3rem;
}
.wewinopng{
    width: 30px;
}

.chatarea{
     display: flex;
    flex-direction: column;
   overflow-y: auto;
   height: 330px;
   border-bottom:   1px solid var(--accent-gold);
   position: relative;
    
}
.user-message{
    align-self: flex-end;
    display: inline-block;
    text-align: left;
    max-width: 70%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: var(--table-hover);
    margin: 10px;
    background-color: var(--accent-gold);
    border: 1px solid;
    border-radius: 20px 20px 0 20px; /* angoli arrotondati */
    text-transform:capitalize;
    
}
.bot-message{
    align-self: flex-start;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    color: var(--table-hover);
    max-width: 70%;
    margin: 10px;
    background-color: var(--accent-olive);
    border-radius: 20px 20px 20px 0; /* angoli arrotondati */
    line-height: 1.6;
    white-space: pre-line; 
    
}
.sendarea{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
   
}

.sendinput{
    width: 80%;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--accent-olive);
    border-radius: 30px 2px 30px 15px;
}

.sendbutton{
    background-color: var(--accent-olive);
    color: var(--table-hover);
    font-size: 20px;
    border-radius: 20px 2px 20px 0px;
    height: 60px;
    padding: 10px;
}

@media (max-width: 900px) {
  .Wewino {
    width: 400px;
    height: 500px;
  }

  .wewino-title {
    font-size: 24px;
    height: 60px;
    gap: 8px;
  }

  .chatarea {
    height: 350px;
  }

  .user-message,
  .bot-message {
    font-size: 18px;
    max-width: 75%;
    padding: 8px;
  }

  .sendinput {
    width: 75%;
    height: 50px;
    font-size: 18px;
  }

  .sendbutton {
    font-size: 18px;
    height: 50px;
  }
}
@media (max-width: 540px){
     .Wewino {
    width: 90%;
    height: 450px;
    margin-left: 54px ;
  }
  .chatarea {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .Wewino {
    width: 90%;
    height: 450px;
    margin-left: 48px ;
  }

  .wewino-title {
    font-size: 16px;
    height: 50px;
    gap: 6px;
  }

  .chatarea {
    height: 300px;
  }

  .user-message,
  .bot-message {
    font-size: 13px;
    max-width: 80%;
    padding: 6px;
  }

  .sendinput {
    width: 70%;
    height: 45px;
    font-size: 16px;
  }

  .sendbutton {
    font-size: 16px;
    height: 45px;
    padding: 8px;
  }
}