@import '../../globals.css';

.wine_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 3rem;
}


.wine_intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Immagine */
.wine_intro_img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.wine_intro_img img {
    width: 70%;
    border-radius: 15px;
    max-width: 450px;
}

/* Contenuto testuale */
.wine_intro_content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    flex-direction: column;
}

.wine_intro_content h2 {
     font-size: 2rem;
    color: var(--background-primary);
    font-weight: 700;
    text-align: left;
}

.wine_intro_content p {
   width: 80%;
   color: var(--text-primary);
    font-size: 1.3rem;
    font-weight: 700;
}

@media screen and (max-width:480px) {
    .wine_section{
        padding: 0;
    }
    .wine_intro{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }
    .wine_intro_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wine_intro_content h2{
        font-size: 1.8rem;
    }
    .wine_intro_content p{
        font-size: 0.9rem;
        margin: 0;
    }
    .wine_intro_img{
        width: 100%;
        margin-bottom: 30px;
    }
}