
@import '../../../globals.css';



.container{
  display: grid;
  width: 100%;
  margin: 0 ;
  gap: 1.8rem;
  grid-template-columns: 12rem 1fr ;
}
.dashboard-content{
  width: 100%;
  margin: auto;
  padding: 2rem;
  
}

.mainContent{
  width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


@media (max-width: 576px)  {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px auto;
  
    padding: 0;

  }
  .dashboard-content{
  width: 100%;
  
  padding: 0;
}
}


@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
}