.dashboard {
  display: flex;
  flex-direction: column;
  height: 90vh; /* altezza fissa della pagina */
  overflow-y: auto; /* scroll verticale */
  padding: 0; /* togli padding per usare tutta la larghezza */
  width: 100%;
  box-sizing: border-box; /* include padding e border nel calcolo larghezza */
  gap: 40px; /* spazio tra le sezioni */
}
.dashboard {
  scrollbar-width: none; /* nasconde la scrollbar */
  -ms-overflow-style: none; /* vecchi IE/Edge */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid var(--background-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.edit-btn{
    padding: 0.4rem 0.2rem;
    margin-left:2px ;
    font-size: 1rem;
    border-radius: 8px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.dashboard_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_title h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--background-primary);
}

.analyse {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: var(--table-row-even);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
  box-sizing: border-box; /* importante */
}
.dashboard h3{
  color: var(--background-primary);
   font-weight: 500;
  margin-bottom: 15px;
   font-size: 2rem;
}
.analyse_title h3 {
  font-size: 2rem;
  color: var(--background-primary);
  font-weight: 500;
  margin-bottom: 15px;
}

.analyse_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* permette alle card di andare a capo se non ci stanno */
  align-items: flex-start;
  gap: 40px;
}

@media (max-width: 576px) {
  .dashboard {
    height: auto;
  }
}

@media (max-width: 480px) {
  .analyse {
    width: 90%;
    margin: 20px auto;
    padding: 1rem;
  }
  .dashboard_title h1 {
    font-size: 1.3rem;
  }
  .analyse_content {
    flex-direction: column;
  }
}
